<div class="landing-container">
  <app-landing-nav></app-landing-nav>
  <swiper-container
    class="mySwiper"
    pagination="true"

    paginationClickable="true"
    centered-slides="true"
   
    speed="1200"
    >
    <swiper-slide>
      <div class="doctor-container content-container">
        <div class="heading">
          View, diagnose, and track your patients' history in one place with
          smart filters and quick access.
        </div>
        <div class="img">
          <img src="../../../assets/Landing/doctor.jpg" />
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="medical-container content-container">
        <div class="heading">
          Track stock with expiry alerts and fulfill doctor prescriptions quickly.
        </div>
        <div class="img">
          <img src="../../../assets/Landing/medical.jpg" alt="" />
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="receptionist-container content-container">
        <div class="heading">
          Quickly handle appointments and track doctor schedules in real time.
        </div>
        <div class="img">
          <img src="../../../assets/Landing/receptionist.jpg" alt="" />
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
