.landing-container {
  font-family: "DM Sans", sans-serif;
}
swiper-container {
  width: 100%;
  overflow: hidden;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
swiper-slide img {
  /* width: 40vw; */
  height: 82vh;
}
.img{
  width: 50%;
  height: 100%;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  border-radius: 20px;
  height: 80vh;
  width: 90vw;
  overflow: hidden;
  color: #1F1F1F;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.6em;
}
.heading {
  text-align: center;
  padding: 20px;
}
.doctor-container {
  background-color: #61aaf2;

}

.medical-container{
  background-color: #6cae9b;
}
.receptionist-container{
  background-color: #2ed6df;
}