<div class="landing-container">
  <app-landing-nav></app-landing-nav>
  <div class="home-container">
    <div class="head-container" id="home">
      <div class="head-content">
        <div class="head-title">
          Providing Quality <span class="color-1">Healthcare</span> for a
          <span class="color-2">Brighter</span> and
          <span class="color-2">Healthy</span> Future
        </div>
        <div class="content">
          At our hospital, we are dedicated to providing exceptional medical
          care to our patients and their families. Our experienced team of
          medical professionals, cutting-edge technology, and compassionate
          approach make us a leader in the healthcare industry
        </div>
      </div>
      <div class="head-img">
        <img src="../../../../assets/doctor-bg.png" id="doc-bg" width="400px" />
        <img src="../../../../assets/doctor.png" id="doc-img" width="330px" />
      </div>
    </div>
  </div>
</div>
