<div class="container">
  <h2>Add Patient Details</h2>
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <input
      type="text"
      formControlName="patient_name"
      placeholder="Patient Name"
      required
    />
    <input
      type="email"
      formControlName="patient_email"
      placeholder="Patient Email"
    />
    <input
      type="number"
      formControlName="patient_contact_no"
      placeholder="Contact Number"
      required
    />
    <input
      type="text"
      formControlName="patient_address"
      placeholder="Patient Address"
    />

    <button type="submit" *ngIf="!editingPatientId">Save</button>
    <button type="button" *ngIf="editingPatientId" (click)="updatePatient()">
      Update
    </button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of filteredPatients; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ patient.patient_name }}</td>
        <td>{{patient.patient_email}}</td>
        <td>{{ patient.patient_contact_no }}</td>
        <td>{{ patient.patient_address   }}</td>
        <!-- <td>
          <img [src]="patient.imageUrl" class="patient-image" width="50" />
        </td> -->
        <td id="btn-container">
          <button (click)="editPatient(patient)">
            <img
              src="../../../../../../assets/icons/edit-black.png"
              alt=""
              width="20px"
            />
          </button>
          <button (click)="deletePatient(patient.patient_id)">
            <img
              src="../../../../../../assets/icons/delete-black.png"
              alt=""
              width="20px"
            />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
