<div class="signup-container">
  <div class="signup-box">

    <h2 style="color:  #00796b;">Patient Registration</h2>

    <form #form="ngForm" (ngSubmit)="onSubmit()">
       <div class="form-row">
       <label for="role">Select Your Role</label>
        <select id="role" name="user_role" required [(ngModel)]="user.role">
          <option value="" selected disabled>Select Role</option>
          <option value="DOCTOR">Doctor</option>
          <option value="MEDICAL">Medical</option>
          <option value="RECEPTIONIST">Receptionist</option>
        </select>
      </div>
      <div class="form-row">
        <label for="firstName">First Name:  *</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required />
      </div>

      <div class="form-row">
        <label for="lastName">Last Name:  *</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required />
      </div>

     <div class="form-row">
  <label for="email">Email Address: *</label>
  <div class="email-otp-wrapper">
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="user.username"
      required
      placeholder="youremail@example.com"
      [readonly]="emailVerified"
    />
    <div *ngIf="emailVerified" style="color: green; margin-bottom: 10px;">
  Email Verified ✅
</div>
    <button *ngIf="!emailVerified" type="button" class="sendOtp-btn" (click)="sendOtp()" [disabled]="emailVerified">
      Send OTP
    </button>
  </div>
</div>

 <div class="otp_overlay" *ngIf="otpSent && !emailVerified">
          <div class="verifyOtp_form">
           
            <input
              type="text"
              id="otp"
              name="otp"
              [(ngModel)]="otp"
              required
              placeholder="Enter the OTP sent to your email"
            />
            <button type="button" (click)="verifyOtp()">Verify OTP</button>
          </div>
        </div>

      

      <div class="form-row">
        <label for="password">Password : *</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required minlength="6" />
      </div>

      <button type="submit" [disabled]="!emailVerified">Submit</button>
    </form>

  </div>

  <!-- Spinner -->
  <div *ngIf="isLoading" class="spinner_overlay">
    <div class="spinner"></div>
  </div>
</div>
