h1{
  margin: 10em;
}/* patient-reports.component.css */

.patient-reports-container {
  width: 70%;
  position: absolute;
  left: 25%;
  top: 140px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.reports-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 1em;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #009ca4;
  color: white;
}

button {
  padding: 8px 16px;
  background-color: #009ca4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #007f8f;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .patient-reports-container {
    width: 90%;
  }

  .reports-table th,
  .reports-table td {
    padding: 8px;
  }

  input {
    width: 100%;
  }
}
