<div class="container">
  <h2>Upload Patient Documents</h2>

  <table>
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Disease</th>
        <th>Description</th>
        <th>Image</th>
        <th>Action</th>
        <!-- <th>Download</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of filteredPatients; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ patient.patient_name }}</td>
        <td>{{ patient.patient_age }}</td>
        <td>{{ patient.patient_disease }}</td>
        <td>{{ patient.patient_description }}</td>
        <td>
          <img [src]="patient.imageUrl" class="patient-image" width="50" />
        </td>
        <td id="btn-container">
          <!-- Hidden file input -->
          <input
            type="file"
            #fileInput
            style="display: none"
            (change)="onFileSelected($event, patient.patient_id)"
            accept=".pdf, .jpeg, .jpg, .png"
          />

          <!-- Visible upload button -->
          <button (click)="fileInput.click()">
            <img
              src="../../../../../../assets/icons/upload.png"
              alt="Upload"
              width="20px"
              title="Upload Documents"
            />
          </button>
          <a
            [href]="getPatientFile(patient.patient_id)"
            download={{patient.patient_name}}
          >
            <img
              src="../../../../../../assets/icons/download.png"
              width="21px"
              title="Download Documents"
            />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
