.container {
  width: 70%;
  position: absolute;
  left: 25%;
  top: 110px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ececec;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(35, 35, 35, 0.285);

}
h2 {
  text-align: center;
  color: #333;
}
button {
  margin: 5px;
  padding: 3px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
#patient_description {
  width: 100vw;
}
th {
  background: #009ca4;
  color: #fff;
}
/* Image Styling */
.patient-image {
  padding: 5px;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  object-fit:contain;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all .15s ease-in-out;
}
.patient-image:hover{
  transform: scale(1.2);
}
