<div class="sidebar">
  <ul>
    <li
      [ngClass]="{ active: activeItem === 'Dashboard' }"
      (click)="onItemClick('Dashboard')"
    >
      Dashboard
    </li>
    <li
      [ngClass]="{ active: activeItem === 'Patients' }"
      (click)="onItemClick('Patients')"
    >
      Patients
    </li>
    <li
      [ngClass]="{ active: activeItem === 'Patients Reports' }"
      (click)="onItemClick('Patients Reports')"
    >
      Patients Reports
    </li>
    <li
    [ngClass]="{ active: activeItem === 'Schedule Management' }"
    (click)="onItemClick('Schedule Management')"
  >
  Schedule Management
  </li>
  
  </ul>
</div>
